@import "tailwindcss";

@theme {
  --color-bakery-bg: #F5EFEB;      /* Warm Warm Cream sesuai Foto 1 */
  --color-bakery-card: #EFE6DD;    /* Warm Card BG */
  --color-bakery-brown: #5C3A21;   /* Primary Dark Brown */
  --color-bakery-accent: #8C532B;  /* Secondary Brown */
  --color-text-dark: #2B1810;
  --color-text-muted: #6B5244;
}

html {
  scroll-behavior: smooth;
}


/* Pastikan HTML dan Body benar-benar 100% tanpa sisa ruang */


*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden;
  background-color: #F5EFEB;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F5EFEB;
}
::-webkit-scrollbar-thumb {
  background: #5C3A21;
  border-radius: 4px;
}